
.containerFooter{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #212227;
    color: white;
    padding: 10px;
    font-size: 14px;
}

.infoLegales{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

@media (min-width:720px) {
    .containerFooter .css-vgorfi-MuiTypography-root {
        width: 20%;
    }
    .infoLegales{
        width: 70%;
    }
    .containerFooter{
        justify-content: space-evenly;
    }
}

@media (min-width:720px) and (max-width: 1028px){

}
